
@font-face {
  font-family: 'Cyber';
  src: url('Blog/fonts/paragraph.ttf') format('truetype');
  font-weight: normal; /* Optional: specify the weight of the font */
  font-style: normal;  /* Optional: specify the style of the font */
}

body {
  	font-family: 'Cyber', monospace;
  	font-weight: normal;
        background-color: #000000;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px 0;
}

iframe.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;       /* same height you used in HTML */
    border: none;
    margin: 0;
    padding: 0;
    z-index: 1000;      /* make sure it sits above everything else */
}

.container {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
}
.logo {
        display: flex;
        justify-content: center;
        white-space: pre;
        font-family: monospace;
        font-size: 16px;
        text-align: center;
        /*color: #ffffff;
 	text-shadow: rgb(255, 170, 0) 0px 0px 2px;*/
	color: #ffffff;
	text-shadow: 0px 0px 5px rgba(0, 255, 0, 0.8), 0px 0px 10px rgba(0, 255, 0, 0.8), 0px 0px 20px rgba(0, 255, 0, 0.8); /* Glowing green text shadow */
        margin-bottom: 20px;
}
.projects, .about, .contact {
        margin-top: 20px;
        padding: 20px;
        background-color: #3b3b3b;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        width: 100%;
        box-sizing: border-box;
}
.projects h2, .about h2, .contact h2 {
        color: #ffffff;
        margin-top: 0;
}
.projects ul, .contact form {
        list-style-type: none;
        padding: 0;
}
.projects li {
        margin-bottom: 10px;
}
.contact input, .contact textarea {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background: #333;
        color: #fff;
        width: 100%;
        box-sizing: border-box;
}
.contact button {
        padding: 10px;
        background-color: #000000;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}
.contact button:hover {
        background-color: #0a0a0a;
}
footer {
        background-color: #000000;
        padding: 20px;
        text-align: center;
        color: #ffffff;
        width: 100%;
        box-sizing: border-box;
}
img {
        max-width: 100%;
        height: auto;
}
@media (max-width: 768px) {
        .logo {
        font-size: 14px;
        }
        .projects, .about, .contact {
        padding: 15px;
        }
}
